*{
	margin: 0%;
	padding:0%;
}

body{
	
}

.contain{
	margin-left:40%;
	height:400px;
	width:350px;
	text-align:center;
	background-color:black;
	margin-top:7%;
	color:white;
}

.contain .text{
	position:relative;
	top:7%;
}

.inp1{
	border:none;
	background-color:black;
	border-bottom:2px solid white;
	width:250px;
	font-size:20px;
	margin-top:40px;
	outline:none;
	color:white;
	
}

.inp2{
	border:none;
	background-color:black;
	border-bottom:2px solid white;
	width:250px;
	font-size:20px;
	margin-top:40px;
	outline:none;
	color:white;
}

.text button{
	width:250px;
	height:44px;
	background-color:aqua;
	color:black;
	border:none;
	font-size:24px;
	border-radius:25px;
	margin-top:20px;
	cursor:pointer;
}

button:hover{
	border:3px solid aqua;
	color:white;
	font-size:20px;
	background-color:black;
}

p{
	margin-top:30px;
	font-size:20px;
}

p span{
	color:aqua;
	cursor:pointer;
}